// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#header{
  background:  #326295 !important;
}
#footer{
  background:  #326295 !important;
}
#game-list{
  background-color: #F8F9FA !important;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 78vh;
}

.menu{
  background-color: #F8F9FA !important;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 38vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8F9FA; 
}
// .show{
// }
.style{
  transition: all .3s ease-out;
}
ul {
  list-style-type: none;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}